<ul class="list-unstyled">
    <li class="pc-h-item pc-sidebar-collapse">
        <a
            href="javascript:"
            class="pc-head-link ms-0"
            id="sidebar-hide"
            title="click to menu Collapse"
            [ngClass]="{ on: navCollapsed }"
            id="sidebar-hide mobile-collapse"
            (click)="navCollapse()"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                <path
                    fill-rule="evenodd"
                    d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"
                />
            </svg>
        </a>
    </li>

    <li class="pc-h-item pc-sidebar-popup">
        <a href="javascript:" title="click to menu open" class="pc-head-link ms-0" id="mobile-collapse1" (click)="this.NavCollapsedMob.emit()">
            <i class="ti ti-menu-2"></i>
        </a>
    </li>
</ul>
