<div class="row">
    <div class="col d-flex align-items-center justify-content-between" style="padding: 20px">
        <form class="row row-cols-sm-auto">
            <div class="col-6">
                <div class="dp-hidden position-absolute">
                    <div class="input-group">
                        <input
                            name="datepicker"
                            class="form-control"
                            ngbDatepicker
                            #datepicker="ngbDatepicker"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            [markDisabled]="isDisabled"
                            [autoClose]="'outside'"
                            (dateSelect)="onDateSelection($event)"
                            [displayMonths]="1"
                            [dayTemplate]="t"
                            outsideDays="hidden"
                            [startDate]="fromDate!"
                            tabindex="-1"
                            navigation="none"
                        />
                        <ng-template #t let-date let-focused="focused">
                            <span
                                class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null"
                            >
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                </div>

                <div class="input-group">
                    <input
                        #dpFromDate
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dpFromDate"
                        disabled
                        [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                    />

                    <input
                        #dpToDate
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dpToDate"
                        disabled
                        [value]="formatter.format(toDate)"
                        (input)="toDate = validateInput(toDate, dpToDate.value)"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"
                        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fd7e14" class="bi bi-calendar-week" viewBox="0 0 16 16">
                            <path
                                d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"
                            />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
                            /></svg
                    ></button>
                </div>
            </div>

            <div class="col-3">
                <button class="btn btn-primary" style="padding: 10px" placement="bottom" ngbTooltip="ຄົ້ນຫາ" (click)="fetchDataOnDateRange()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                        />
                    </svg>
                </button>
            </div>

            <div class="col-3 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="csvExport()" style="padding: 10px" placement="bottom" ngbTooltip="ດາວໂຫຼດຂໍ້ມູນ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                        <path
                            fill-rule="evenodd"
                            d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5M8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6"
                        />
                    </svg>
                </button>
            </div>
        </form>
    </div>

    @if (isLoading) {
        <app-spinner></app-spinner>
    } @else {
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                            <path
                                d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"
                            />
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12" />
                        </svg>

                        &nbsp; &nbsp;

                        <h2 class="mb-4 f-w-400">ລວມມູນຄ່າທັງໝົດ: &nbsp;&nbsp;</h2>

                        <h2 class="mb-8"> {{ totalIncome }} ກີບ </h2>
                    </div>

                    <p class="mb-0 text-muted text-sm">
                        ໄດ້ມີລົດຜ່ານທັງໝົດ
                        <span class="text-primary">{{ totalPassedVehicle }}</span> ຄັນໃນມື້ນີ້.
                    </p>
                </div>
            </div>
        </div>

        <!-- [ sample-page ] start -->
        @if (!isLoading && checkPointData.length > 0) {
            @for (item of checkPointData; track item) {
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h6 class="mb-2 f-w-400">{{ item.vehicle_type }}</h6>
                                    <h4 class="mb-3">
                                        {{ item.count }}
                                    </h4>
                                </div>

                                <div>
                                    <h6 class="mb-2 f-w-400">ລວມມູນຄ່າ: </h6>
                                    <h4 class="mb-3"> {{ item.total }} ກີບ </h4>
                                </div>
                            </div>

                            <div>
                                <p class="mb-0 text-muted text-sm">
                                    ໄດ້ມີລົດຜ່ານ
                                    <span class="text-primary">{{ item.count }}</span> ຄັນໃນມື້ນີ້.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="col-md-12">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h5 class="mb-0">ລາຍງານລົດທີ່ຜ່ານ</h5>
                <ul ngbNav aria-busy="true" #nav="ngbNav" class="nav-pills justify-content-end mb-0">
                    <li [ngbNavItem]="1">
                        <ng-template ngbNavContent>
                            <div id="visitor-chart-1"></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <ng-template ngbNavContent>
                            <div id="visitor-chart-2"></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <ng-template ngbNavContent>
                            <div id="visitor-chart-3"></div>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-body">
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h5 class="mb-3">ລາຍງານລາຍໄດ້</h5>
            <div class="card">
                <div class="card-body">
                    <h6 class="mb-2 f-w-400 text-muted">ມູນຄ່າທັງໝົດ</h6>
                    <h3 class="mb-0">{{ totalIncome }} ກີບ</h3>
                    <apx-chart
                        [series]="chartOptions.series"
                        [chart]="chartOptions.chart"
                        [dataLabels]="chartOptions.dataLabels"
                        [legend]="chartOptions.legend"
                        [xaxis]="chartOptions.xaxis"
                        [colors]="chartOptions.colors"
                        [stroke]="chartOptions.stroke"
                        [plotOptions]="chartOptions.plotOptions"
                    ></apx-chart>
                </div>
            </div>
        </div>
    }
</div>
